/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[3]!./src/globalStyles.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background-image: url(webpack:///mini-css-extract-plugin//_next/static/media/Untitled.02a7206c.png);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: -1;
}

